@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #212121;
  overflow-x: hidden;
}

h4 {
  text-decoration: underline;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* HamburgerMenu.css */
.hamburger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 25px;
  justify-content: space-between;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  transition: 0.4s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 5px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -5px);
}

/* rightDrawer.css */
.side-drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9; /* Adjust the z-index as needed to ensure it's above other content */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: none;
}

.side-drawer.open {
  display: block;
}

.drawer-content {
  position: absolute;
  margin: 15px;
  border-radius: 10px;
  top: 0;
  right: 0;
  height: calc(100% - 30px);
  background-color: rgb(239, 239, 239);
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2); /* Optional box shadow for a visual separation */
}

.overlay {
  position: fixed;
  margin-right: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8; /* Ensure the overlay is below the drawer */
}

.button {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-white {
  background-color: rgba(255, 255, 255, 0.2);
}

.blur-background {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  font-family: sans-serif;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(4px);
  padding: calc(0.4vw + 15px) calc(2vw + 15px);
}

.blur-background-lisable {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  font-family: sans-serif;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(8px);
}

.blur-background-min {
  background-color: rgba(255, 255, 255, 0.2);
  font-family: sans-serif;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(4px);
  outline: 1px #e8e8e8 solid;
}

.container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  filter: url('#goo');
  animation: rotate-move 2s ease-in-out infinite;
}

.dot { 
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot-3 {
  background-color: rgb(247, 80, 119);
  animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot-2 {
  background-color: rgb(16, 188, 171);
  animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-1 {
  background-color: rgb(255, 226, 133);
  animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}

@keyframes dot-3-move {
  20% {transform: scale(1)}
  45% {transform: translateY(-18px) scale(.45)}
  60% {transform: translateY(-90px) scale(.45)}
  80% {transform: translateY(-90px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-2-move {
  20% {transform: scale(1)}
  45% {transform: translate(-16px, 12px) scale(.45)}
  60% {transform: translate(-80px, 60px) scale(.45)}
  80% {transform: translate(-80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-1-move {
  20% {transform: scale(1)}
  45% {transform: translate(16px, 12px) scale(.45)}
  60% {transform: translate(80px, 60px) scale(.45)}
  80% {transform: translate(80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes rotate-move {
  55% {transform: translate(-50%, -50%) rotate(0deg)}
  80% {transform: translate(-50%, -50%) rotate(360deg)}
  100% {transform: translate(-50%, -50%) rotate(360deg)}
}

@keyframes index {
  0%, 100% {z-index: 3}
  33.3% {z-index: 2}
  66.6% {z-index: 1}
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin-anim {
  animation: spin 15s linear infinite;
}

@keyframes flash {
  0% {
     opacity: 1;
  }
  100% {
     opacity: 0;
  }
}

.flash {
  animation: flash 0.8s ease-in;
}

#tootip {
  background: rgb(0, 0, 0, 0.7);
}

.pt-nav {
  padding-top: calc(1.6vw + 10px);
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: calc(0.2vw + 7px);
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(135, 135, 135, 0.5); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(84, 84, 84, 0.5); 
}

/*loading button*/

:root {
  /* violet */
  --primary-color: 247, 80, 119;
  
  /* white */
  --text-color: 256, 256, 256;
}

.btn {
  width: 300px;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  padding: 12px 32px;
  margin: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 50px;
}

.btn-semi-transparent {
  background-color: rgba(var(--primary-color), 0.15);
  border: 1px solid rgba(var(--primary-color), 0.25);
  color: rgba(var(--text-color), 0.8);
}

.btn-semi-transparent:hover {
  background-color: rgba(var(--primary-color), 0.35);
  border: 1px solid rgba(var(--primary-color), 0.5);
  color: rgba(var(--text-color), 0.9);
  transition: all 0.3s ease;
}

.btn-glow:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
}

/* https://sushi.com/ */
.btn-gradient {
  background-image: linear-gradient(to right, rgb(247, 80, 119), rgb(255, 226, 133), rgb(16, 188, 171));
  border: 0;
  color: rgba(var(--text-color));
}

/* https://sushi.com/ */
.btn-gradient-border {
  color: rgba(var(--text-color));
  border: 4px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(247, 80, 119), rgb(255, 226, 133), rgb(16, 188, 171));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.gradient-text {
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(45deg, rgb(255, 204, 215),rgb(255, 239, 192), rgb(168, 255, 246));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
